transactions-table {
	display: block;
	display: contents;

	.actions {
		font-size: 0.8em;
		text-align: right;

		a:link {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
