<table>
<thead>
<tr class="actions">
	<td colspan="5"><a href="add-transaction/">+ Add</a></td>
</tr>
<tr>
	<th>Date</th>
	<th>Description</th>
	<th>Category</th>
	<th>Account</th>
	<th>Amount</th>
</tr>
</thead>
<tbody ng-if="$ctrl.transactions | filter:($ctrl.filter || undefined)">
<tr ng-repeat="transaction in $ctrl.transactions | filter:($ctrl.filter || undefined) | orderBy:($ctrl.orderBy || 'date')">
	<td>{{ transaction.date | strDate }}</td>
	<td>{{transaction.description}}</td>
	<td>{{transaction.category}}</td>
	<td>{{transaction.account}}</td>
	<td class="amount">{{transaction.amount | strAccounting}}</td>
</tr>
</tbody>
<tfoot>
<tr>
	<td colspan="4"></td>
	<td class="amount">{{$ctrl.transactions | filter:($ctrl.filter || undefined) | sum | strAccounting}}</td>
</tr>
</tfoot>
</table>
