* {
	box-sizing: border-box;
}

:root {
	font-family: 'Trebuchet MS', 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
	min-height: 100%;
	width: 100%;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
